.App {
  text-align: center;
}

.wishlists li{
  list-style: none;
}

.wishlists li label{
  margin: 10px;
  display: inline-block;
  
}

.wishlists li label.checked{
  text-decoration: line-through;
}

.wishlists li label input{
  margin-right: 10px;
}